<h1>Person Info</h1>
<ul>
  <li>Name: <%= @name %></li>
  <li>Age: <%= @age %></li>
  <li>Language: <%= @language %></li>
  <li>Bio: <%= @bio %></li>

  <li>Credit Card: <%= @creditcard %></li>
  <li>Check: <%= @check %></li>
  <li>Experience: <%= @experience %></li>
  <li>Password: <%= @pwd %></li>
  <li>Notes: <%= @notes %></li>
  <li>Referral: <%= @referral %></li>



<p>
  <a href="/">&laquo; Back to home </a>
</p>
